{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron text-center">
  <div class="container">
	    <a href="http://gpi.cl/" class="lang-logo">
	      <img src="{% static 'Imagen.png'%}">
	    </a>
	    <h1><font color="white">GPI Hermes</h1>
	    <h1>Bienvenido {{ user.get_username }}</h1>
	    {%if user.is_superuser %}
	    	<a type="button" class="btn btn-lg btn-default" href="pos/">Ver Ordenes Pendientes</a>
		{% else %}
		    <a type="button" class="btn btn-lg btn-default" href="solicitudes/">Realizar solicitud</a>
		    
		{% endif %}
	</font>
  </div>

</div>
{% endblock %}