{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />

<body class=" app-hello model-solicitudes change-form"
  data-admin-utc-offset="0">



    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Añadir solicitud</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="solicitudes_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='SVIIgaPNZCButhf83LxTHmOskbdo4S6z15gH3OR5dqL9o4YO17wRtBnx1eK18b7f' />
<div>

  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-Fecha_Vigencia">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Fecha_Vigencia">Fecha Vigencia:</label>
                        
                            <input type="text" name="Fecha_Vigencia" class="vDateField" size="10" required id="id_Fecha_Vigencia" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Version">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Version">Version:</label>
                        
                            <input type="number" name="Version" class="vIntegerField" required id="id_Version" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Estado">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Estado">Estado:</label>
                        
                            <input type="number" name="Estado" class="vIntegerField" required id="id_Estado" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Centro_de_Costo">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Centro_de_Costo">Centro de Costo:</label>
                        
                            <input type="text" name="Centro_de_Costo" class="vTextField" maxlength="50" required id="id_Centro_de_Costo" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Documento">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Documento">Documento:</label>
                        
                            <input type="text" name="Documento" class="vTextField" maxlength="10" required id="id_Documento" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Solicitado_por">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Solicitado_por">Solicitado por:</label>
                        
                            <input type="text" name="Solicitado_por" class="vTextField" maxlength="50" required id="id_Solicitado_por" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Fecha_Solicitud">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Fecha_Solicitud">Fecha Solicitud:</label>
                        
                            <input type="text" name="Fecha_Solicitud" class="vDateField" size="10" required id="id_Fecha_Solicitud" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Fecha_Requerida">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Fecha_Requerida">Fecha Requerida:</label>
                        
                            <input type="text" name="Fecha_Requerida" class="vDateField" size="10" required id="id_Fecha_Requerida" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-CC">
            
            
                <div>
                    
                    
                        <label class="required" for="id_CC">CC:</label>
                        
                            <input type="number" name="CC" class="vIntegerField" required id="id_CC" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Sol">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Sol">Sol:</label>
                        
                            <input type="number" name="Sol" class="vIntegerField" required id="id_Sol" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Item">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Item">Item:</label>
                        
                            <input type="number" name="Item" class="vIntegerField" required id="id_Item" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Descripcion">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Descripcion">Descripcion:</label>
                        
                            <input type="text" name="Descripcion" class="vTextField" maxlength="100" required id="id_Descripcion" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Cant">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Cant">Cant:</label>
                        
                            <input type="number" name="Cant" class="vIntegerField" required id="id_Cant" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Unid">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Unid">Unid:</label>
                        
                            <input type="number" name="Unid" class="vIntegerField" required id="id_Unid" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-Cert">
            
            
                <div>
                    
                    
                        <label class="required" for="id_Cert">Cert:</label>
                        
                            <input type="text" name="Cert" class="vTextField" maxlength="10" required id="id_Cert" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-AoD">
            
            
                <div>
                    
                    
                        <label class="required" for="id_AoD">AoD:</label>
                        
                            <input type="text" name="AoD" class="vTextField" maxlength="20" required id="id_AoD" />
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>










<div class="submit-row">
<input type="submit" value="Guardar" class="default" name="_save" />


<input type="submit" value="Guardar y Realizar Otra Solicitud" name="_addanother" />




    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="solicitudes"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
{% endblock %}
